.signup {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    width: 400px;
    height: 25px;
}

.buttonForm {
    width: 408px;
    height: 45px;
    background-color: #FF5A5F;
    color: white;
    cursor: pointer;
}

.buttonForm1 {
    width: 408px;
    height: 45px;
    background-color: #ccc;
    color: white;
    cursor: pointer;
}

.buttonForm:hover {
    box-shadow: 1px 1px 8px 4px rgb(244, 244, 229);
    border: 1.5px solid #9e2b2f;
    transition: box-shadow 0.1s ease;
    color: rgb(244, 244, 229);
}

.error {
    color: #FF5A5F;
    font-size: 10px;
}

.log {
    display: flex;
    align-items: center;
    font-size: 12pt;
    gap: 5px;
    height: 30px;
    text-align: center;
    justify-content: center;
}

.log > .authenText {
    padding-bottom: 10px;
    color: #00525E
}
