.deleteEvent2 {
    width: 400px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deleteEventButton {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.yesButton, .noButton {
    margin-top: 10px;
    width: 350px;
    height: 40px;
    color: white
}

.yesButton {
    background-color: #FF5A5F;
    cursor: pointer;
}

.yesButton:hover {
    box-shadow: 1px 1px 8px 4px rgb(244, 244, 229);
    border: 1.5px solid #9e2b2f;
    transition: box-shadow 0.1s ease;
    color: rgb(244, 244, 229);
}

.noButton {
    background-color: #999999;
    cursor: pointer;
}

.noButton:hover {
    box-shadow: 1px 1px 8px 4px rgb(244, 244, 229);
    border: 1.5px solid #6f6e6e;
    transition: box-shadow 0.1s ease;
    color: rgb(244, 244, 229);
}

.deleteText {
    height: 10px
}

.deleteTitle {
    height: 5px
}
