.one {
    display: flex;
    padding-top: 25px;
    /* padding-left: 150px;
    padding-right: 150px; */
    margin: 50px;
    margin-left: 120px;
    margin-right: 120px;
    align-items: center;
    gap: 20px;
    justify-content: center;

}

.intro {
    height: 450px;
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
}

.imgOne {
    width: 530px;
    height: 310px;
}

.oneText {
    font-size: 35pt;
    font-weight: bold;
    height: 140px;
}

.oneP {
    font-size: 12pt;
}
/* section two css */

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    height: 5px;
}

.twoText {
    font-size: 18pt;
    font-weight: bold;
    height: 20px;
}

.twoCap {
    font-size: 12pt;
    width: 400px;
}
/* section three css */

.three {
    display: flex;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
    gap: 35px;
    align-items: center;
}

.group, .event, .start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.groupImg, .eventImg, .startImg {
    width: 200px;
    height: 150px;

}

.groupText, .eventText, .startText {
    padding-top: 3px;
    text-align: center;
    font-size: 12pt;
}

.groupLink, .eventLink, .startLink {
    text-align: center;
    color: #00525E;
    font-size: 18pt;
    text-decoration: none;
}

.eventLink {
    color:#00525E
}

.groupLink:hover, .eventLink:hover, .startLink:hover {
    text-decoration: underline;
}

.startLinkOff {
    text-align: center;
    font-size: 18pt;
    color: gray;
}

.four {
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 20px;
}

.button {
    width: 120px;
    height: 40px;
    color: white;
    background-color: #00525E;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    border: 2px solid black;
}

.groupButton1:hover {
    box-shadow: 1px 1px 8px 4px rgb(244, 244, 229);
    border: 1.5px solid #013239;
    transition: box-shadow 0.1s ease;
    color: rgb(244, 244, 229);
}
