.allGroups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px
}

.links {
    display: flex;
    gap: 15px;
    width: 600px;
    font-size: 18pt;
}

.groupLink2 {
    text-decoration: underline;
    color: #00525E;
}

.eventLink2 {
    text-decoration: none;
    color: black;
}

.title {
    display: flex;
    width: 600px;
    font-size: 8pt;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #CCCCCC;
}

.groupsPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.groupTitle {
    font-size: 15pt;
    height: auto;
    width: 350px;
    /* display: flex; */
    /* justify-content: flex-start; */
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}



.groups {
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 2px;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    height: 200px;

}

.divider {
    border: 1px solid #CCCCCC;
}

.img {
    display: flex;
    width: 250px;
    height: 210px;
    justify-content: flex-start;
    align-items: center;
}

.groupImg {
    width: 230px;
    height: 170px;
    cursor: pointer;
}

.info {
    width: 350px;
    text-align: left;
}

.location {
    font-size: 11pt;
    height: 20px;
    color: #CCCCCC;
    cursor: pointer;
    white-space: nowrap;
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.about {
    max-width: 340px;
    font-size: 10pt;
    max-height: 65px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.aboutSection {
    height: 80px
}

.private {
    color: #CCCCCC;
    cursor: pointer;
    padding-top: 5px;
}
