.allGroups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px
}

.links {
    display: flex;
    gap: 15px;
    width: 600px;
    font-size: 18pt;
}

.groupLink2 {
    text-decoration: underline;
    color: #00525E;
}

.eventLink2 {
    text-decoration: none;
    color: black;
}

.title {
    display: flex;
    width: 600px;
    font-size: 8pt;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #CCCCCC;
}

.groupsPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.groupTitle {
    font-size: 15pt;
    height: 3px;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.groups {
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 2px;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    height: 200px;

}

.divider {
    border: 1px solid #CCCCCC;
}

.img {
    display: flex;
    width: 250px;
    height: 210px;
    justify-content: flex-start;
    align-items: center;
}

.groupImg {
    width: 230px;
    height: 170px;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    text-align: left;
}

.location {
    font-size: 12pt;
    height: 5px;
    color: #CCCCCC;
    cursor: pointer;
}

.about {
    width: 340px;
    font-size: 10pt;
    height: 52px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden; /* Hide the overflow */
}

.private {
    color: #CCCCCC;
    cursor: pointer;
    padding-top: 15px;
}
