.allEvents {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links {
    display: flex;
    gap: 15px;
    width: 600px;
    font-size: 18pt;
}

.eventLink3 {
    text-decoration: underline;
    color: #00525E;
}

.groupLink3 {
    text-decoration: none;
    color: black;
}

#manageE {
    position: relative;
}


.title {
    display: flex;
    width: 600px;
    font-size: 8pt;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #CCCCCC;
}

.eventsPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.eventTitle {
    font-size: 12pt;
    height: 20px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 10px
}



.events {
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 0.5px;
    align-items: flex-start;
    width: 600px;
    height: 185px;

}

.divider {
    border: 1px solid #CCCCCC;
}

.img2 {
    display: flex;
    width: 220px;
    height: 210px;
    justify-content: flex-start;
    align-items: center;
}

.eventImg {
    width: 200px;
    height: 150px;
    cursor: pointer;
    padding-bottom: 5px;
}

.info2 {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    width: 350px;
    text-align: left;
    height: 130px;
}

.location2 {
    font-size: 8pt;
    height: 5px;
    color: #CCCCCC;
    cursor: pointer;
}

.description {
    width: 600px;
    font-size: 10pt;
    height: 10px;
    cursor: pointer;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; /* Hide the overflow */

}

.eventDate {
    height: 5px;
    color: #00525E;
    padding-top: 10px
}
