.groupDetails1 {
    display: flex;
    justify-content: center;
    margin-right: 200px;
    gap: 25px;
    align-items: flex-start;
    height: 350px;
    width: 100%;
    padding-top: 25px;
}

.groupImage1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    flex-direction: column;
    gap: 5px;
}

.groupImg1 {
    width: 520px;
    height: 280px;
}

.groupInfo1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300px;
    width: 300px;
    padding-top: 20px;
}

.groupTitle1 {
    text-align: start;
    height: 10px;
    width: 500px
}

.groupText1 {
    height: 8px;
    font-size: 11pt;
    color: #CCCCCC;
}

.textBox {
    gap: 10px;
}

.groupButton1 {
    margin-top: 125px;
    height: 50px;
    width: 180px;
    color: white;
    background-color: #FF5A5F;
    box-shadow: 2px 2px 2px black;
    border: 2px solid black;
    cursor: pointer;

}

.groupButton1:hover {
    box-shadow: 1px 1px 8px 4px rgb(244, 244, 229);
    border: 1.5px solid #9e2b2f;
    transition: box-shadow 0.1s ease;
    color: rgb(244, 244, 229);
}

.linkArea {
    width: 520px
}

.allGroups {
    font-size: 10pt;
}

.groupsBackground1 {
    background-color: #CCCCCC;
    position: absolute;
    left: 0%;
    width: 100%;
    display: flex;
    padding-bottom: 200px;
    z-index: -1;
    justify-content: center;
}

.details1 {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.event1 {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.eventBox1 {
    cursor: pointer;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    height: 220px
}

.eventBox1:hover {
    box-shadow: 10px 10px 10px rgb(158, 158, 150);
    transition: box-shadow 0.1s ease;
}

.box1 {
    display: flex;
    gap: 8px
}

.organizer {
    height: 2px;
}

.aboutGroup {
    height: 2px;
}

.eventImage1 {
    display: flex;
}

.eventImg1 {
    width: 180px;
    height: 120px;
    cursor: pointer;
}

.eventName1, .eventDate1 {
    height: 15px;
    cursor: pointer;
}

.eventName1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    height: 5px;
}

.eventDate1 {
    color: #00525E;
}

.eventLocation1 {
    color: #CCCCCC;
    cursor: pointer;
}

.firstLast {
    color: #999999;
}

.eventDescription1 {
    cursor: pointer;
    width: 300px;
    text-overflow: ellipsis;
}

.userAction {
    display: flex;
    padding-top: 145px;
    gap: 10px
}

.groupButton2 {
    background-color: #999999;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    border: 2px solid black;
}

.groupButton2:hover {
    box-shadow: 1px 1px 8px 4px rgb(244, 244, 229);
    border: 1.5px solid #6f6e6e;
    transition: box-shadow 0.1s ease;
    color: rgb(244, 244, 229);
}

.groupsDetailsBox {
    margin-right: 450px;

}

.past {
    padding-top: 50px
}

.upcoming {
    padding-top: 60px;
}
