.groupDetails1 {
    display: flex;
    justify-content: center;
    padding-left: 130px;
    padding-right: 130px;
    gap: 25px;
    align-items: flex-start;
    height: 350px;
    width: 1080px;
    padding-top: 25px;
}

.groupImage1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    flex-direction: column;
    gap: 5px;
}

.groupImg1 {
    width: 520px;
    height: 280px;
}

.groupInfo1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300px;
    width: 300px;
    padding-top: 20px;
}

.groupTitle1 {
    text-align: start;
    height: 10px;
    width: 500px
}

.groupText1 {
    height: 8px;
    font-size: 11pt;
    color: #CCCCCC;
}

.textBox {
    gap: 10px;
}

.groupButton1 {
    margin-top: 125px;
    height: 50px;
    width: 180px;
    color: white;
    background-color: #FF5A5F;
}

.linkArea {
    width: 520px
}

.allGroups {
    font-size: 10pt;
}

.groupsBackground1 {
    background-color: #CCCCCC;
    position: absolute;
    left: 0%;
    right: 0%;
    display: flex;
    padding-bottom: 50%;
    justify-content: center;
    z-index: -1;
}

.details1 {
    display: flex;
    flex-direction: column;
    width: 400px;
    /* padding-left: 225px */
}

.event1 {
    display: flex;
    flex-direction: column;
    width: 400px;
    /* padding-left: 220px */
}

.eventBox1 {
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    height: 220px
}

.box1 {
    display: flex;
    gap: 8px
}

.organizer {
    height: 2px;
}

.aboutGroup {
    height: 2px;
}

.eventImage1 {
    display: flex;
}

.eventImg1 {
    width: 180px;
    height: 120px;
    cursor: pointer;
}

.eventName1, .eventDate1 {
    height: 5px;
    cursor: pointer;
}

.eventName1 {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.eventDate1 {
    color: #00525E;
}

.eventLocation1 {
    color: #CCCCCC;
    cursor: pointer;
}

.firstLast {
    color: #999999;
}

.eventDescription1 {
    cursor: pointer;
}

.userAction {
    display: flex;
    padding-top: 145px;
    gap: 10px
}

.groupButton2 {
    background-color: #999999;
    color: white;
    cursor: pointer;
}

.groupsDetailsBox {
    margin-left: 250px;
    margin-right: 250px;

}
