.background2 {
    background-color: #CCCCCC;
    position: absolute;
    left: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    z-index: -1;
}

.eventGroup {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    height: 80px;
    gap: 10px
}

.eventSec2 {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.eventDetails2 {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    height: 150px
}

.infoForEvents {
    display: flex;
    flex-direction: column;
}

.eventDeleteButton {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    align-items: flex-end;
}

.deleteAnEvent {
    cursor: pointer;
    height: 25px;
    width: 80px;
    color: white;
    background-color: #999999;
    margin-right: 230px;
    box-shadow: 2px 2px 2px black;
    border: 2px solid black;
}

.deleteAnEvent:hover {
    box-shadow: 1px 1px 8px 4px rgb(244, 244, 229);
    border: 1.5px solid #6f6e6e;
    transition: box-shadow 0.1s ease;
    color: rgb(244, 244, 229);
}

.eventSections {
    display: flex;
    /* justify-content: center; */
    gap: 15px;
    padding-top: 20px
}

.eventImg2 {
    width: 580px;
    height: 360px;
}

.details3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 150px;
    padding-top: 65px;
    padding-bottom: 20px
}

.eventTitle3, .detailsTitle3, .price3, .type3, .groupName3 {
    height: 10px
}

.startDate3, .endDate3 {
    height: 10px;
    width: 450px
}

.groupImg3 {
    width: 130px;
    height: 80px
}

.private3, .groupName3, .groupImg3 {
    cursor: pointer;
}

.wholeEvent {
    padding-left: 150px;
    padding-right: 150px
}

.eventTimes {
    display: flex;
    gap: 10px;
    align-items: center;
}

.fa-solid {
    padding-right: 8px;
    padding-left: 4px;
}

.eventDescription {
    text-overflow: ellipsis;
    overflow: hidden; /* Hide the overflow */
}
