.background2 {
    background-color: #CCCCCC;
    position: absolute;
    left: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    z-index: -1;
    align-items: center;
}

.updateAnEvent2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1%;
    margin-right: 10px;
    right: 0;
    gap: 10px;
    cursor: pointer;
    height: 25px;
    width: 80px;
    color: white;
    background-color: #999999;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px black;
    border: 2px solid black;
}


.updateAnEvent2:hover {
    box-shadow: 1px 1px 8px 4px rgb(244, 244, 229);
    border: 1.5px solid #6f6e6e;
    transition: box-shadow 0.1s ease;
    color: rgb(244, 244, 229);
}

.eventGroup {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 10px;
    width: 340px;
    height: 80px;
    gap: 10px;
    cursor: pointer;
    align-items: center;
}

.eventGroup:hover {
    box-shadow: 10px 10px 10px rgb(158, 158, 150);
    transition: box-shadow 0.1s ease;
}

.eventSec2 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.eventDetails2 {
    background-color: white;
    display: flex;
    flex-direction: row;
    /* padding: 30px; */
    border-radius: 10px;
    width: 380px;
    height: 138px
}

.infoForEvents {
    display: flex;
    flex-direction: column;
}

.eventDeleteButton {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    align-items: flex-end;
    gap: 10px;
}

.deleteAnEvent {
    cursor: pointer;
    height: 25px;
    width: 80px;
    color: white;
    background-color: #999999;
    margin-right: 220px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px black;
    border: 2px solid black;
}

.deleteAnEvent:hover {
    box-shadow: 1px 1px 8px 4px rgb(244, 244, 229);
    border: 1.5px solid #6f6e6e;
    transition: box-shadow 0.1s ease;
    color: rgb(244, 244, 229);
}

.eventSections {
    display: flex;
    gap: 15px;
    padding-top: 20px
}

.eventImg2 {
    width: 400px;
    height: 270px;
}

.details3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 790px;
    padding-top: 65px;
    padding-bottom: 20px
}

.eventTitle3, .detailsTitle3, .price3, .type3, .groupName3 {
    height: 15px
}

.icon {
    width: 30px
}

.startDate3, .endDate3 {
    height: 10px;
    width: 350px;
    font-size: 13px;
}

.groupImg3 {
    width: 140px;
    height: 80px;
}

.private3, .groupName3, .groupImg3 {
    cursor: pointer;
}
.private3 {
    font-size: 8px;
}
.intro4 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.eventTimes {
    display: flex;
    align-items: center;
}

.updateAnEvent {

    cursor: pointer;
    height: 25px;
    width: 80px;
    color: white;
    background-color: #999999;
    /* margin-right: 220px; */
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px black;
    border: 2px solid black;
}

.updateAnEvent:hover {
    box-shadow: 1px 1px 8px 4px rgb(244, 244, 229);
    border: 1.5px solid #6f6e6e;
    transition: box-shadow 0.1s ease;
    color: rgb(244, 244, 229);
}

.fa-solid {
    padding-right: 8px;
    padding-left: 4px;
}

.eventDescription {
    text-overflow: ellipsis;
    max-width: 800px;
    word-break: break-word;
}

.eventTitle3 {
    word-break: break-word;
    height: auto;
}

.eventPrice2, .eventType2 {
    display: flex;
    align-items: center;
    /* gap: 5px; */
    margin-left: 10px;
    height: 35px
}
.eventTimes {
    margin-left: 10px;
}

.price3, .type3 {
    padding-bottom: 4px;
    font-size: 13px
}

.groupName3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    height: 15px;
    font-size: 14px

}

.groupDetails3 {
    height: 70px
}
