.hidden {
    display: none
}

.meetup {
    cursor: pointer;
    padding-left: 10px;
    color: #FF5A5F;
    font-size: 24pt;
    font-weight: bold;
}

.user {
    padding-right: 10px;
    display: flex;
    gap: 20px;
}

.startG {
    text-decoration: none;
    color: #00525E;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #CCCCCC;
}

.session {
    display: flex;
    gap: 40px;
}
